* {
  margin: 0;
  padding: 0;
}
header {
  background-color: black;
  color: aliceblue;
  height: 10vh;
  width: 100%;
  padding: 25px;
  position: sticky;
  top: 0;
}
nav ul li {
  display: inline-block;
  margin: 30px 181px;
  font-size: 1vw;
}
nav ul li a {
  color: aliceblue;
  text-decoration: none;
}
body {
  background-color: blue;
  height: 4444px;
}
